fastapi
uvicorn
python-dotenv
pydantic
httpx
langchain
langchain-community
langchain-groq
langgraph
tavily-python
sentence-transformers
scikit-learn
numpy
transformers
torch
beautifulsoup4
pypdf
youtube-transcript-api
markdown
bcrypt
pyjwt
python-dotenv